################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/FIAP.TechChallenge.LambdaPedido.Tests/obj/Debug/net8.0/FIAP.TechChallenge.LambdaPedido.Tests.dll._asi_refs
/src/FIAP.TechChallenge.LambdaPedido.Domain/obj/FIAP.TechChallenge.LambdaPedido.Domain.csproj.nuget.g.props
/src/FIAP.TechChallenge.LambdaPedido.Domain/obj/Release/net8.0/FIAP.TechChallenge.LambdaPedido.Domain.csproj.AssemblyReference.cache
/src/FIAP.TechChallenge.LambdaPedido.Infra/obj/FIAP.TechChallenge.LambdaPedido.Infra.csproj.nuget.g.props
/src/FIAP.TechChallenge.LambdaPedido.Infra/obj/project.assets.json
/src/FIAP.TechChallenge.LambdaPedido.Application/obj/FIAP.TechChallenge.LambdaPedido.Application.csproj.nuget.g.props
/src/FIAP.TechChallenge.LambdaPedido.Application/obj/project.assets.json
/src/FIAP.TechChallenge.LambdaPedido/obj/Release/net8.0/FIAP.TechChallenge.LambdaPedido.API.assets.cache
/src/FIAP.TechChallenge.LambdaPedido/obj/Debug/net8.0/FIAP.TechChallenge.LambdaPedido.API.dll._asi_refs
/src/FIAP.TechChallenge.LambdaPedido/obj/Release/net8.0/FIAP.TechChallenge.LambdaPedido.API.csproj.AssemblyReference.cache
/src/FIAP.TechChallenge.LambdaPedido/obj/FIAP.TechChallenge.LambdaPedido.API.csproj.nuget.g.props
/src/.vs
/src/.vs/FIAP.TechChallenge.Lambda.SQS.Pagamento
/src/.vs/FIAP.TechChallenge.Lambda.SQS.Pagamento/DesignTimeBuild
/src/.vs/FIAP.TechChallenge.Lambda.SQS.Pagamento/DesignTimeBuild/.dtbcache.v2
/src/.vs/FIAP.TechChallenge.Lambda.SQS.Pagamento/FileContentIndex
/src/.vs/FIAP.TechChallenge.Lambda.SQS.Pagamento/FileContentIndex/603ac741-29dd-4936-b9cd-b5cb2c2436c6.vsidx
/src/.vs/FIAP.TechChallenge.Lambda.SQS.Pagamento/FileContentIndex/7954c8ac-c827-48c9-a1a6-fde0c33c3fa6.vsidx
/src/.vs/FIAP.TechChallenge.Lambda.SQS.Pagamento/FileContentIndex/96561d48-432a-491a-b19e-273e4c9d7965.vsidx
/src/.vs/FIAP.TechChallenge.Lambda.SQS.Pagamento/FileContentIndex/cc7a26e9-3253-4555-a1c0-9d406a236c84.vsidx
/src/.vs/FIAP.TechChallenge.Lambda.SQS.Pagamento/FileContentIndex/e6d5aa93-0062-492b-b4f5-be7dd743f627.vsidx
/src/.vs/FIAP.TechChallenge.Lambda.SQS.Pagamento/v17
/src/.vs/FIAP.TechChallenge.Lambda.SQS.Pagamento/v17/.futdcache.v2
/src/.vs/FIAP.TechChallenge.Lambda.SQS.Pagamento/v17/.suo
/src/.vs/FIAP.TechChallenge.Lambda.SQS.Pagamento/v17/DocumentLayout.backup.json
/src/.vs/FIAP.TechChallenge.Lambda.SQS.Pagamento/v17/DocumentLayout.json
/src/.vs/ProjectEvaluation
/src/.vs/ProjectEvaluation/fiap.techchallenge.lambda.sqs.pagamento.metadata.v9.bin
/src/.vs/ProjectEvaluation/fiap.techchallenge.lambda.sqs.pagamento.projects.v9.bin
/src/.vs/ProjectEvaluation/fiap.techchallenge.lambda.sqs.pagamento.strings.v9.bin
